<header>
  <p class="h2 border-bottom border-primary"><%- data.name %></p>
  <p style="color: var(--bs-gray-400)"><%- data.desc %></p>
  <h5 class="border-bottom border-primary">ROUTES</h5>
  <div class="accordion" id="accordionApiScheme">
    <% for( let datum of data.routers ) { %>
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading<%- datum.name%>">
          <button class="accordion-button text-white collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse<%- datum.function+datum.method%>" data-method="<%- datum.method%>"
            aria-expanded="false" aria-controls="collapse<%- datum.function+datum.method%>">
            <p class="p-1 my-0 rounded"><%- datum.method %></p>
            <h class="p-1 mx-3"><%- datum.name%></h>
            <i class="badge bg-secondary"><%- datum.path %></i>
            <% if(datum.auth) { %>
              <i class="badge bg-success text-dark mx-1">Auth - <%- datum.auth %></i>
              <% } else {%>
                <i class="badge bg-warning text-dark mx-1">No auth</i>
                <% }%>

          </button>
        </h2>
        <div id="collapse<%- datum.function+datum.method%>" class="accordion-collapse collapse"
          aria-labelledby="heading<%- datum.function+datum.method%>" data-bs-parent="#accordionApiScheme">
          <div class="accordion-body">
            <p style="color: var(--bs-gray-400)"><%- datum.desc %></p>
            <% if (datum.schema) { %>
              <h5 class="border-bottom border-secondary my-1">Request</h5>
              <% if (datum.method!=='get' ) { %>
                <div class="my-2">
                  Body Type :
                  <i class="badge bg-primary"><%- datum.bodyType%></i>
                </div>
                <% } else {%>
                  <div class="my-2">
                    Query Fields:
                  </div>
                  <% }%>

                    <table class="table table-striped text-center table-responsive table-dark">
                      <thead>
                        <tr>
                          <th scope="col">Property</th>
                          <th scope="col">Type</th>
                          <th scope="col">Format</th>
                          <th scope="col">Required</th>
                        </tr>
                      </thead>
                      <tbody>

                        <% for( let schema of datum.schema ) { %>
                          <tr>
                            <td><%- schema.property%></td>
                            <td><%- schema.type%></td>
                            <td><%- schema.format%></td>
                            <td>
                              <% if(schema.isRequired===false) {%>
                                <i class="badge bg-danger"><%- schema.isRequired %></i>
                                <% }else{ %>
                                  <i class="badge bg-info"><%- schema.isRequired %></i>
                                  <%}%>
                            </td>
                          </tr>
                          <% } %>

                      </tbody>
                    </table>
                    <% } %>
                      <% if (datum.responses) { %>

                        <h5 class="border-bottom border-secondary my-3">Responses</h5>
                        <table class="table table-striped text-center table-dark">
                          <thead>
                            <tr>
                              <th>Status</th>
                              <th>Info</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for( let response of datum.responses ) { %>
                              <tr>
                                <td>
                                  <% if (response.code===200) { %>
                                    <i class="badge bg-success text-dark"><%- response.code%></i>
                                    <% } else {%>
                                      <i class="badge" style="background: var(--bs-pink)"><%- response.code%></i>
                                      <% } %>
                                </td>
                                <td><small><%- response.message%></small></td>
                              </tr>
                              <% } %>
                          </tbody>
                        </table>
                        <% } %>

                          <!-- <h5 class="border-bottom border-secondary my-3">Example</h5>
          <div class="card">
            <code style="white-space: pre-line; color: wheat"> <%- datum.example %> </code>
          </div> -->
          </div>
        </div>
      </div>
      <% } %>
  </div>
</header>